# Python/Django
__pycache__/
*.py[cod]
*.sqlite3
*.db
db.sqlite3
env/
venv/
.env

# Django migrations
migrations/
!migrations/__init__.py

# React
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules

# General
*.log
.DS_Store
.idea/
.vscode/

# Local secrets/settings
*.env
settings_local.py
